DATABASE_URL=postgresql+psycopg://MedAdmin:MedMin027@localhost:5433/InstruMed
DB_HOST=localhost
DB_PORT=5433
DB_NAME=InstruMed
DB_USER=MedAdmin
DB_PASSWORD=MedMin027

SESSION_SECRET_KEY=InstrumentalCounterFlaskPEF
FRONTEND_DEMO_MODE=false

AUTH_SERVICE_URL=http://127.0.0.1:5001
AUTH_BROWSER_URL=http://127.0.0.1:5001
AUTH_SERVICE_TIMEOUT=5
