# Message extraction for the UI catalogs (translations/). Run from apps/BackendWebFlask:
#   pybabel extract -F babel.cfg -k _c:1c,2 --no-location --sort-output --project="PEF Instrumental Quirurgico" --copyright-holder="PEF UDEM" -o translations/messages.pot .
#   pybabel update -i translations/messages.pot -d translations -l es --no-fuzzy-matching --ignore-obsolete -w 100
#   pybabel compile -d translations
# _c(context, message) marks catalog labels keyed by code (localization/labels.py).
[python: controllers/**.py]
[python: services/**.py]
[python: localization/**.py]
[jinja2: templates/**.html]
